<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}
a:link {
 color: azure;
 text-decoration: none;
 background-color: black;
 padding: 3px 6px;
 border-radius: 4px;
}
a:visited {
    color: aliceblue;
    text-decoration: none;
    background-color: red;
    padding: 10px 8px;
    border-radius: 5px ;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 1.1rem;
}
</style>