body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2 {
    background-color: lightgrey;
}
td {
    padding: 15px;
    border: 2px;
}
th {
    padding: 15px;
    border: 2px;
}
input {
    width:500px;
    padding: 15px;
    margin-bottom: 10px;
}
textarea{
    width:500px;
}
select {
    width: 500px;
}
input[type="submit"] {
    background-color: blue;
    color: white;
}
a:link {
    background-color: lightblue;
    color: blue;
    border-radius: 2px;
    text-decoration: none;
} 
a:visited {
    background-color: purple;
    color: black;
    border-radius: 2px;
    text-decoration: none;
}
images {
    box-shadow: 5px;
    border: 2px;
}